<div class="row">
	<div class="col-12">
		<form>
		  	<div class="form-group">
		  	  	<label for="titleInput">Заголовок</label>
		  	  	{{input value=title id="titleInput"}}
		  	</div>
		  	<div class="form-group">
		  		<label for="textInput">Текст</label>
		  	  	{{textarea value=text id="textInput"}}
		  	</div>
		  	<div class="form-group">
		  		<label for="publishCheck">Опубликовать</label>
		  	  	{{input type="checkbox" id="publishCheck" checked=published}}
			</div>
		  	<button type="submit" class="btn btn-primary" {{action 'createPost' on=submit}}>Отправить</button>
		</form>
	</div>
</div>
